@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#topbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 8%;
  box-shadow: 0 2px 5px #ccc;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: black;
}
#logoSection img {
  width: 60px;
}
#homeButton {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
  letter-spacing: 2px;
  background-color: #001f3f;
  border: 4px solid gold;
  border-radius: 4px;
  cursor: pointer;
}
#homeButton:hover {
  box-shadow: 0px 2px 10px gold;
}
#footer {
  display: flex;
  width: 100%;
  margin-top: 7%;
  justify-content: center;
  padding: 4% 8%;
  background-color: #1c1b1e;
}
#footer div {
  padding-left: 40px;
  padding-right: 40px;
}
#footer p {
  color: white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
#footer a {
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.8;
  margin-top: 12px;
  text-decoration: none;
  display: block;
}
.player-detail td {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: #001f3f;
  color: white;
}
.player-detail {
  margin: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
  background-color: gold;
}
#player-details-con {
  width: 65%;
  height: 85vh;
  justify-content: center;
  align-items: center;
}
#new-player-det td {
  width: 30vw;
  padding-left: 10vw;
}
#player_detail-img img {
  width: 35%;
  margin: 5px 0 -10px 0;
  margin-left: 19vw;
}
#player-details-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#detailHeading {
  justify-content: center;
  display: flex;
  border-radius: 10px;
  margin: auto;
  margin-top: 10%;
  padding: 10px 0;
  width: 14%;
  background-color: #001f3f;
  color: white;
}
@media only screen and (max-width: 480px){
  #footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #footer div {
    width: 50%;
    padding: 0;
    margin-bottom: 30px;
  }
  #footer a {
    font-size: 12px;
  }
  #footer p {
    font-size: 16px;
  }
  #footer div{
    width: 45%;
  }
  #topbar{
    justify-content: space-evenly;
  }
  #logoSection{
    margin-left: -30%;
  }
  section{
    margin-top: 25%;
  }
  #detailHeading{
    width: 40%;
  }
  #new-player-det td{
    padding: 0;
    text-align: center;
  }
  #player-details-con{
    height: 100vh;
  }
  #player_detail-img img{
    margin: 0 88px;
  }
}
